{
    "apiUrl": "https://serverlesshub-test-function-app.azurewebsites.net/api",
    "authClientId": "a34afe18-b99a-44f3-b4b5-89dc0d41393c",
    "authAuthority": "https://serverlessapiprep.b2clogin.com/serverlessapiprep.onmicrosoft.com/B2C_1_serverlessapiprep",
    "authRedirectUrl": "https://serverlesshubtestwebapp.z13.web.core.windows.net/",
    "authScopes": ["https://serverlessapiprep.onmicrosoft.com/api/todo.crud"]
}